@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-inter-sans);
  --font-alt: var(--font-manrope);

  --green: #03E2AD;
  --black: #282828;
  --gray: #5F5F5F;
  --gray-02: #ACACAC;
  --gray-03: #F4F7FA;
  --blue: #473BF0;
  --dark-blue: #12053C;
  --dark-blue-02: #161546;
  --dark-blue-02: #161C2D;
  --footer: #151419;

  --text-3xl: 2rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFFFF;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Helvetica, sans-serif;
}